div.varianttrack-sublabel {
    z-index: 18;
    overflow: hidden;
    cursor: pointer;
    border-collapse: collapse;
    border: 1px solid #999;
    color: #111;
    font-weight: bold;
}

p.errorld {
    color: red;
}
